@charset "UTF-8";
/* reseteo css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  height: 150px;
  text-align: center;
}

.menu__barraNavegacion__items a, .menu__vitrina a, .footer__redes a, .footer_contactos a {
  text-decoration: none;
  color: rgb(250, 249, 249);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: justify;
}

@media (hover: hover) {
  a:hover {
    color: crimson;
  }
}
/* =========barra navegacion======= */
.navbar {
  border-bottom: 800x;
  margin-bottom: 50px;
}

.navbar-brand {
  width: 100px;
  height: 100px;
}

.bg-nav {
  background-color: #152131;
}

.bg-icon, .navbar-toggler {
  background-color: white;
}

.nav-item {
  padding: 1vw;
}

.btn {
  color: crimson;
}

.form-control {
  color: aliceblue;
}

.carousel-item img {
  object-fit: contain;
  height: 80vh;
}

.servicios__tarjeta {
  background-color: rgba(168, 219, 219, 0.199);
  padding: 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transition: 1s all;
}
.servicios__tarjeta:hover {
  transform: scale(1.06);
}

.quienesomos__tarjeta {
  padding: 2vw;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  text-align: justify;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  gap: 10px;
  transition: 1s all ease-out;
}
.quienesomos__tarjeta:hover {
  transform: scale(1.04);
}

.vehiculos__tarjeta {
  width: 350px;
  height: 500px;
  background-image: radial-gradient(circle, rgba(44, 65, 71, 0.349), rgba(52, 220, 226, 0.295));
  display: grid;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 1s all ease-out;
}
.vehiculos__tarjeta:hover {
  transform: scale(1.06);
}
.vehiculos__tarjeta button {
  background-color: rgba(4, 97, 236, 0.123);
  font-size: 2rem;
  border-radius: 15px;
  transform: scale(0.8);
}
.vehiculos__tarjeta button:hover {
  background-color: darkslategray;
  color: aliceblue;
}

.containertaxis__tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* ==========footer========== */
footer {
  background: #152131;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-area: footer;
}

.logoFooter {
  width: 180px;
  height: 180px;
}

.mapafooter {
  width: 25vw;
  height: 200px;
}

.h1salvautos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  height: 10vh;
}

body {
  background-color: aliceblue;
}

/* ========Servicios======== */
.servicios {
  padding: 3vw;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.servicios p {
  font: 1.7em sans-serif;
  text-align: center;
}

/* =========Como llegar============ */
.comollegar {
  padding: 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr;
  grid-template-areas: "img mapa" "img mapa" "tex imgp";
  gap: 10px;
}
.comollegar img {
  height: 100%;
  grid-area: img;
  object-fit: cover;
}
.comollegar iframe {
  width: 100%;
  height: 42vh;
  grid-area: mapa;
}
.comollegar p {
  height: 100%;
  text-align: justify;
  grid-area: tex;
}
.comollegar__imagepeque {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2vh;
  grid-area: imgp;
  gap: 10px;
}
.comollegar__imagepeque img {
  width: 200px;
  height: 200px;
}

/* adaptacion 300px a 600px index */
@media (min-width: 300px) and (max-width: 600px) {
  .servicios {
    display: grid;
  }
  h2 {
    padding: 10px;
  }
  .comollegar {
    display: flex;
    flex-direction: column;
  }
  .comollegar__imagepeque {
    display: none;
  }
  .footer {
    width: 100%;
  }
  .mapafooter {
    display: none;
  }
  .logoFooter {
    width: 150px;
    height: 150px;
  }
}
/* adaptacion 600px a 800px index */
@media (min-width: 600px) and (max-width: 800px) {
  .comollegar {
    display: flex;
    flex-direction: column;
  }
  .comollegar__imagepeque {
    display: none;
  }
}
/* ==========Quienes somos========== */
.quienesomos {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quienesomos__h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: justify;
}

@media (min-width: 300px) and (max-width: 768px) {
  /* adaptacion quienes somos */
  .quienesomos {
    display: flex;
    flex-direction: column;
  }
  .quienesomos__tarjeta {
    display: flex;
    flex-direction: column;
  }
}
/* ==============taxis================== */
.containertaxis__menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.containertaxis__menu a {
  text-decoration: none;
  font-size: 2rem;
  border: solid black;
  background-color: #152131;
}

.btn-toolbar {
  display: flex;
  justify-content: center;
}

.btn-toolbar .btn-group {
  background-color: #FFD93D;
  box-shadow: 2px 2px 2px 2px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .btn-toolbar {
    display: grid;
  }
  .btn-toolbar .btn-group {
    display: grid;
  }
}
/* ============vehículos============== */
.vehiculos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.vehiculos__navegador {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
@media (min-width: 768px) {
  .vehiculos__navegador :hover {
    background-color: #152131;
    color: aliceblue;
    border-radius: 20px;
  }
}
.vehiculos__navegador a {
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
  color: #152131;
  /* border: solid black 5px; */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .vehiculos__navegador {
    display: grid;
    gap: 2.5vh;
  }
}
/* ============vitrina virtual=========== */
.menuvitrina {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menuvitrina__menu {
  display: flex;
  gap: 30px;
}
@media (min-width: 768px) {
  .menuvitrina__menu :hover {
    background-color: #152131;
    color: aliceblue;
    border-radius: 20px;
  }
}
.menuvitrina__menu a {
  text-decoration: none;
  padding: 10px;
  font-size: 3vw;
  color: #152131;
  /* border: solid black 5px; */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.vitrina__particulares,
.vitrina__camiones,
.vitrina__motocicletas,
.vitrina__taxis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .menuvitrina__buscar {
    display: none;
  }
  .menuvitrina__menu {
    display: grid;
  }
}

/*# sourceMappingURL=style.css.map */
