/* reseteo css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1 {
    height: 150px;
    text-align: center;

}


.menu__barraNavegacion__items a, .menu__vitrina a, .footer__redes a, .footer_contactos a {
    text-decoration: none;
    color: rgb(250, 249, 249);
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}



img {
    max-width: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: justify;
}

@media (hover: hover) {
    a:hover {
        color: crimson;
    }
}

/* ===========responsive index y quienes somos===================== */

/* adaptacion 300px a 600px index */

@media (min-width: 300px) and (max-width: 600px) {

    .servicios {
        
        display: grid;
        
    }

    h2 {
        padding: 10px;
    }

    .comollegar {
        display: flex;
        flex-direction: column;
    }

    .comollegar__imagepeque {
        display: none;
    }
    .footer {
        width: 100%; 
    }

    .mapafooter {
        display: none;
    }

    .logoFooter {
        width: 150px;
        height: 150px;
    }

}

/* adaptacion 600px a 800px index */

@media (min-width: 600px) and (max-width: 800px) {

    .comollegar {
        display: flex;
        flex-direction: column;
    }

    .comollegar__imagepeque {
        display: none;
    }

}

@media (min-width: 300px) and (max-width: 1200px) {

    /* adaptacion quienes somos */

    .quienesomos {
        display: flex;
        flex-direction: column;
    }

    .quienesomos__tarjeta {
        display: flex;
        flex-direction: column;
    }

}