/* reseteo css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1 {
    height: 150px;
    text-align: center;

}


.menu__barraNavegacion__items a, .menu__vitrina a, .footer__redes a, .footer_contactos a {
    text-decoration: none;
    color: rgb(250, 249, 249);
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}



img {
    max-width: 100%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: justify;
}

@media (hover: hover) {
    a:hover {
        color: crimson;
    }
}

$color: #152131; 
