.h1salvautos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 {
    text-align: center;
    height: 10vh;
}

body {
    background-color: aliceblue;
}

/* ========Servicios======== */
.servicios {
    padding: 3vw;
    display: flex;
    justify-content: space-around;
    gap: 20px;

    & p {
        font: 1.7em sans-serif;
        text-align: center;
        
    }
    
}

/* =========Como llegar============ */

.comollegar {
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    grid-template-areas: 
    "img mapa"
    "img mapa"
    "tex imgp";
    gap: 10px;

    & img {
        height: 100%;
        grid-area: img;
        object-fit: cover;
    
    }

    & iframe {
        width: 100%;
        height: 42vh;
        grid-area: mapa;
    }

    & p {
        height: 100%;
        text-align: justify;
        grid-area: tex;
    }

    &__imagepeque {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2vh;
        grid-area: imgp;
        gap: 10px;

        & img {
            width: 200px;
            height: 200px;
        }
    }
    

}

/* adaptacion 300px a 600px index */

@media (min-width: 300px) and (max-width: 600px) {

    .servicios {
        
        display: grid;
        
    }

    h2 {
        padding: 10px;
    }

    .comollegar {
        display: flex;
        flex-direction: column;
    }

    .comollegar__imagepeque {
        display: none;
    }
    .footer {
        width: 100%; 
    }

    .mapafooter {
        display: none;
    }

    .logoFooter {
        width: 150px;
        height: 150px;
    }

}

/* adaptacion 600px a 800px index */

@media (min-width: 600px) and (max-width: 800px) {

    .comollegar {
        display: flex;
        flex-direction: column;
    }

    .comollegar__imagepeque {
        display: none;
    }

}

















