/* ==========Quienes somos========== */

.quienesomos {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quienesomos__h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: justify;

}

@media (min-width: 300px) and (max-width: 768px) {

    /* adaptacion quienes somos */

    .quienesomos {
        display: flex;
        flex-direction: column;

        &__tarjeta {
            display: flex;
            flex-direction: column;
        }
    }
    
}



