/* ==============taxis================== */


.containertaxis__menu {
    display: flex;
    justify-content: center;
    gap: 10px;

    & a {
        text-decoration: none;
        font-size: 2rem;
        border: solid black;
        background-color: #152131;
    }
}

.btn-toolbar {
    display: flex;
    justify-content: center;
}

.btn-toolbar .btn-group {
    background-color:#FFD93D;
    box-shadow: 2px 2px 2px 2px  ;
}

@media (min-width: 300px) and (max-width: 768px) {
    .btn-toolbar {
        display:grid;

        & .btn-group {
            display: grid;
        }
        
    } 

    

}