/* ==============taxis================== */


.containertaxis {
    display: flex;
    gap: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 
    " tax tax "
    "nav card";




    &__h1 {
        grid-area: tax;
    }

    &__nav {
        position: fixed;
    }

    &__btn {
        
        margin-left: 50px;
        text-align: center;
        font-size: 30px;
        width: 400px;
        height: 100px;
        background-color: aliceblue;
        border: 2px solid black;
        border-radius: 50px;
        margin-bottom: 50px;
        grid-area: nav;
        

        @media (min-width: 768px) {
            &:hover {
            background-color: $color;
            color: aliceblue;
            border-radius: 50px;
            } 
        }
    }

    &__vehiculos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-area: card;
        gap: 20px;
    } 
    
    &__tarjetas__button {
        @extend .vehiculos__presentacion__button;
        text-align: center;
    }
    
}

@media (max-width: 1200px) {
    .containertaxis__btn {
        width: 300px;        
    }

    .containertaxis__tarjetas {
        width: 300px;
        height: 910px;
    }
}

@media (max-width: 1024px) {
    .containertaxis__btn {
        width: 200px; 
        font-size: 20px;       
    }
}

@media (max-width: 768px) {
    .containertaxis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .containertaxis__nav {
        display: flex;
        flex-direction: column;
        position: inherit;
        width: 300px;
    }
}




