/* ============vehículos============== */

.vehiculos__main {
    display: grid;
    justify-content: center;
}

.vehiculos__navegador {
        margin-bottom: 5vh;
        display: flex;
        justify-content: center;
        gap: 1vw;
        @media (min-width: 768px ){
            :hover {
                background-color: #152131;
                color: aliceblue;
                border-radius: 20px;
                
            }

        }


        & a {
            text-decoration: none;
            padding: 10px;
            font-size: 30px;
            color: #152131;
            /* border: solid black 5px; */
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
            border-radius: 20px;
            
        }
    }


@media (min-width: 300px) and (max-width: 600px) {

    .vehiculos__navegador {
        display: grid;
        gap: 2.5vh;
        
    }


}

.vehiculos__presentacion {
    margin-bottom: 100px;
    width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
    "imgrande imguno imgdos"
    "imgrande imgtres imgcuatro"
    "descrip descrip descrip";
    gap: 10px;
    
    &__imgrande {
        
        grid-area: imgrande;
        object-fit:contain;
    }

    &__imguno {
        grid-area: imguno;
        object-fit: contain;
    }

    &__imgdos {
        grid-area: imgdos;
        object-fit: contain;
    }

    &__imgtres {
        grid-area: imgtres;
        object-fit: contain;
    }

    &__imgcuatro {
        grid-area: imgcuatro;
        object-fit: contain;
    }

    &__caracteristicas {
        grid-area: descrip;
    }

}

@media (max-width: 1200px) {
    .vehiculos__presentacion{
        width:800px;
    }
}

@media (max-width: 768px) {

    .vehiculos__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .vehiculos__presentacion{
        width: 70vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "imgrande imgrande"
        "imguno imgtres"
        "descrip descrip";

        &__imgrande {
        
            grid-area: imgrande;
            object-fit:contain;
        }
    
        &__imguno {
            grid-area: imguno;
            object-fit: contain;
        }
    
        &__imgdos {
            grid-area: imgdos;
            display: none;
        }
    
        &__imgtres {
            grid-area: imgtres;
            object-fit: contain;
        }
    
        &__imgcuatro {
            grid-area: imgcuatro;
            display: none;
        }
    
        &__caracteristicas {
            grid-area: descrip;
        }    
        
    }

}
