/* ============vehículos============== */

.vehiculos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    &__navegador {
        display: flex;
        justify-content: center;
        gap: 1vw;
        @media (min-width: 768px ){
            :hover {
                background-color: #152131;
                color: aliceblue;
                border-radius: 20px;
                
            }

        }


        & a {
            text-decoration: none;
            padding: 10px;
            font-size: 30px;
            color: #152131;
            /* border: solid black 5px; */
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
            border-radius: 20px;
            
        }
    }
}

@media (min-width: 300px) and (max-width: 600px) {

    .vehiculos__navegador {
        display: grid;
        gap: 2.5vh;
        
    }


}


