/* ============vitrina virtual=========== */

.menuvitrina {
    margin-bottom: 5vh;
    display: flex;
    justify-content:center;
    gap: 20px;
    
    &__menu {
        
        display: flex;
        gap: 30px;
        
        
        @media (min-width: 768px ){
            :hover {
                background-color: #152131;
                color: aliceblue;
                border-radius: 20px;
                
            }

        }
        

        & a {
            text-decoration: none;
            padding: 10px;
            font-size: 30px;
            color: #152131;
            /* border: solid black 5px; */
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
            border-radius: 20px;
            
            
        }
    }

    &__buscar{
        position: absolute;
        padding: 5px;
        translate: 480px ;

        & input {
            width: 0px;
            height: 40px;
            padding: 0 20px;
            font-size: 18px;
            color: $color;
            outline: none;
            border: 1px solid aliceblue;
            border-radius: 30px;
            transition: all 0.6s ease;
        }

        &__btn {
            position: absolute;
            top: 0;
            right: 0;
            background: $color;
            width: 55px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            color: white;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;
        }

        &:hover input {
            width: 240px;
        }

        & input:focus {
            width: 240px;
        }
        
    }
}

.vitrinavirtual__h2 {
    margin-top: 50px;
}

.vitrina__particulares, 
.vitrina__camiones, 
.vitrina__motocicletas, 
.vitrina__taxis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 300px) and (max-width: 1020px) {
    .menuvitrina__buscar {
        translate: 0 -80px;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    .menuvitrina__menu {
        display: grid;
    }
}

   




