/* ============vitrina virtual=========== */

.menuvitrina {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    &__menu {
        
        display: flex;
        gap: 30px;
        
        
        @media (min-width: 768px ){
            :hover {
                background-color: #152131;
                color: aliceblue;
                border-radius: 20px;
                
            }

        }
        

        & a {
            text-decoration: none;
            padding: 10px;
            font-size: 3vw;
            color: #152131;
            /* border: solid black 5px; */
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
            border-radius: 20px;
            
            
        }
    }
}

.vitrina__particulares, 
.vitrina__camiones, 
.vitrina__motocicletas, 
.vitrina__taxis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (min-width: 300px) and (max-width: 768px) {
    .menuvitrina__buscar {
        display: none;

    }

    .menuvitrina__menu {
        display: grid;
    }


}



