.servicios__tarjeta {
    background-color: rgba(168, 219, 219, 0.199);
    padding: 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);

    transition: 1s all;
    
    &:hover {
        transform: scale(1.06);
    }
}

.quienesomos__tarjeta {
    padding: 2vw;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5px;
    font-size: 5rem;
    text-align:end;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    gap: 10px;
    transition: 1s all ease-out;
    
    &:hover {
        transform: scale(1.04);
        

    }
}

.vehiculos__tarjeta {
    width: 350px;
    height: 500px;
    background-image: 
    radial-gradient(circle, rgba(44, 65, 71, 0.349), rgba(52, 220, 226, 0.295));
    display: grid; 
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
    text-align: center;
    transition: 1s all ease-out;
    
    &:hover {
        transform: scale(1.06);
    }

    & button {
        background-color: rgba(4, 97, 236, 0.123);
        font-size: 2rem;
        border-radius: 15px;
        transform: scale(0.8);
    }

    & button:hover {
        background-color: darkslategray;
        color: aliceblue;
    }
}


.containertaxis__tarjetas {
    box-shadow: -3px -3px 3px 3px rgba(0, 0, 0, .2);
    width: 500px;
    height: 900px;
    padding: 10px;
}

