/* ==========footer========== */

footer {
    background: #152131; 
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    grid-area: footer;
}

.logoFooter {
    width: 180px;
    height: 180px;    
}

.mapafooter {
    width: 25vw;
    height: 200px;
}