/* =========barra navegacion======= */


.navbar {
    margin-bottom: 30px;
}


.navbar-brand {
    width: 100px;
    height: 100px;
}

.bg-nav {
    background-color: $color;
}

.bg-icon, .navbar-toggler {
    background-color: white;
}

.nav-item {
    padding: 1vw;
}

.btn {
    color:aliceblue;
}

.form-control {
    color: aliceblue;
}