/* =========barra navegacion======= */
.navbar {
    border-bottom: 800x;
    margin-bottom: 50px;
}


.navbar-brand {
    width: 100px;
    height: 100px;
}

.bg-nav {
    background-color: #152131;
}

.bg-icon, .navbar-toggler {
    background-color: white;
}

.nav-item {
    padding: 1vw;
}

.btn {
    color: crimson;
}

.form-control {
    color: aliceblue;
}